.projects-btn {
    width: 40%;
    height: 20%;
    padding: 0;
    background-color: transparent;
    border: none;
}
.projects-btn:hover {
    width: 42%;
    height: 21%;
}

.projects-btn-img {
    max-width: 100%;
    max-height: 100%;
}